a:link {
    color: #CC2323;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: 991A1A;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #FF2B2B;
    text-decoration: underline;
    font-weight: bold;
}

div .review_snapshots_area {

}